
/***************************************************

Förstasidan

***************************************************/
	.firstpage {
		background-color: black;
		color: white;
	}
	.firstpage h1 {
		text-align: center;
		font-size: 20px;
		font-family: 'Roboto Condensed', sans-serif;
		
	}
	.firstpage h1 span {
	font-family: 'Cuprum', sans-serif;
	font-weight: 900;
	font-size: 50px;
	color: white;
	text-shadow:
	-1px 1px #808d93,
    -1px 1px #cdd2d5,
    -1px 1px #cdd2d5,
    -2px 2px #cdd2d5,
    -2px 2px #cdd2d5,
    -3px 3px #cdd2d5,
    -3px 3px #cdd2d5,
    -4px 4px #cdd2d5,
    -4px 4px #cdd2d5,
    -5px 5px #cdd2d5,
    -5px 5px #cdd2d5,
    -6px 6px #808d93;
		
	}
	

	#container {
		max-width: 816px;
		margin: auto;
	}
	.rad1 {
		padding-top: 20px;
	}
	.rad2 {
		padding-bottom: 20px;
	}
	.under:hover {
		width: 200px;  /* Hindrar storleken från att förändras när man håller över bilderna */
		height: 100px;
		border: 1px solid white;
	}
	#slider {
		font-family: 'Roboto Condensed', sans-serif;
		text-align: right;
	}

	
/*********************************************************
+
+Historia
+
+*********************************************************/
.historia {
	background: url(..//subpagebilder//bakhist.png);
	max-width: 816px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
}
#histdiv {
	background-color: rgba(0 , 0 , 0 , 0.5);
	padding: 20px;
	padding-bottom: 40px;
	border: 4px solid black;
}
.ehistoria {
  width: 60%;
  float:left;
}
.tavlingar {
  width: 40%;
  float:left;
}

*, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ehistoria {
  padding-right: 20px;
}

table {
	margin: auto;
	border: 1px solid #403D38;  /* En pixel för mycket åt höger*/
	background-image: url("..//subpagebilder//trofe.jpg");
	width: 769px;
	border-radius: 5px;
	border-spacing: 0;
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 20px;
	
	}
td {
	/* border-top: 1px solid #403D38;  Inte säker på om jag vill ha med denna */
	border-right: 1px solid #403D38;
	color: black;
}
th {
	background-color: #403D38;
	font-weight: 400;
	color: white;
}
th,td {
	padding: 10px 10px 2px;
	text-align: left;
	}

.historia nav {
	padding-left: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	
}
.historia ul {
  overflow: auto;
  list-style-type: none;
}
.historia li {
  height: 22px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
.historia li:last-child {
  border-right: none;
}
.historia li a {
  text-decoration: none;
  color: white;
  font: 20px Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.historia li a:hover {
  color: #666;
}
.hexagoner {
		float: left;
		padding-right: 20px;
	}
.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -12px;
	text-align: center;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #808080;								/* byt färg? */
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Skugga eller inte? */
	
	}
.hex .top {
    width: 0;
    border-bottom: 14px solid #808080;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
	}
.hex .middle {
    width: 50px;
	height: 29px;
    background-color: #808080;
	/*margin-bottom: 5px;		tuff effekt
	margin-top: 5px; */
	}
.hex .bottom {
    width: 0;
    border-top: 14px solid #808080;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
	}
.hex-row {
    clear: left;
	}
.hex-row.even {
    margin-left: 26px;
	}
footer {
		border-top: 1px solid white;
		padding-top: 20px;
	}
footer  p {
		margin-top: 0;
		font-size: 13px;
		
	}
footer h4 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 15px;		
	}
.om {
		display: inline-block;
	}
.kontakt {
		display: inline-block;
		padding-left: 20px;
	}
