/***********************************************************

Spelsidor

***********************************************************/
.twitter {
		position: fixed;
		right: 15px;
	}
#text {
	width: 70%;
	margin: auto;
	border: 3px solid green;
	margin-top: 30px;
	color: white;	
}
header{
	color: white;
	text-align: center;
	font-family: 'Monda'
}
#text p{
	padding-left: 5px;
}
.subpage a{
	text-decoration: none;
	color: white;
}
.subpage ul{
	list-style:none;
}
nav {
	position: absolute;
}
.subpage ul li{
	display:block;
	height:28px;
	background-color:#333; 
	border-left:5px solid #222; 
	border-right:10px solid #222; 
	padding-left:10px;
	text-decoration:none;
	color:#bfe1f1;
	list-style-type: none;
	}
body.subpage {
	background-color: black
}
ul{
	list-style-type: none;
	padding: 0px 10px;
}

.subpage ul li a:hover{
	border: 1px solid black;
}
img{
	width: 40%;
	float: right;
	padding-right: 10px
}