/***********************************************************

Spelsidor

***********************************************************/
body.subpage {
	background-image:  url("../subpagebilder/spel-bak-g.jpg");
	background-size: cover;
}
.twitter {
		float: right;
	}
/*

---TEXT---

*/
#text {
	width: 75%;
	margin: auto;
	margin-top: 30px;
	color: white;	
}
#text p{
	padding-left: 5px;
}

.subpage header{
	color: white;
	text-align: center;
	font-family: 'Monda';	
}
.subpage img{
	width: 35%;
	float: right;
	border: 2px solid black;
	border-radius: 2%;
	margin-right: 10px
	
}

/*

---LISTOR---

*/

/*fancy copy-paste list*/
.subpage ul li{
	display:block;
	height:28px;
	padding-left:10px;
	text-decoration:none;
	color:#bfe1f1;
	list-style-type: none;
	}
/*copy-paste stops here*/
.subpage ul{
	background-color:#333; 
	border-left:5px solid #222; 
	border-right:10px solid #222; 
}
.subpage ul li:first-of-type{
	padding-top: 5px;
}

.subpage ul{
	list-style-type: none;
	padding: 0px 10px;
}

.subpage a{
	text-decoration: none;
	color: white;
}
.subpage ul{
	list-style:none;
}
.subpage nav {
	float: left;
	margin: 73px 0;
}
/*

---FOOTER---

*/
.hexagoner {
		float: left;
		padding-right: 20px;
	}
.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -12px;
	text-align: center;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #808080;								/* byt färg? */
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; /* Skugga eller inte? */
	
	}
.hex .top {
    width: 0;
    border-bottom: 14px solid #808080;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
	}
.hex .middle {
    width: 50px;
	height: 29px;
    background-color: #808080;
	/*margin-bottom: 5px;		tuff effekt
	margin-top: 5px; */
	}
.hex .bottom {
    width: 0;
    border-top: 14px solid #808080;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
	}
.hex-row {
    clear: left;
	}
.hex-row.even {
    margin-left: 26px;
	}
footer {
		border-top: 1px solid white;
		padding-top: 20px;
	}
footer  p {
		margin-top: 0;
		font-size: 13px;
		
	}
footer h4 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 15px;		
	}
.om {
		display: inline-block;
	}
.kontakt {
		display: inline-block;
		padding-left: 20px;
	}