/***********************************************************

Spelsidor

***********************************************************/
.twitter {
		position: fixed;
		right: 15px;
	}
#text {
	width: 800px;
	margin: auto;
	border: 3px solid red;
	padding: 0px 100px 10px;
	margin-top: 30px;
	color: white;	
}
header{
	color: white;
	text-align: center;
	font-family: 'Monda', sans-serif;
}
body.subpage {
	background-color: black
}
.subpage a{
	text-decoration: none;
	color: white;
}
.subpage ul{
	list-style:none;
}
.subpage ul li{
	display:block;
	width:300px;
	height:28px;
	background-color:#333; 
	border-left:5px solid #222; 
	border-right:5px solid #222; 
	padding-left:10px;
	text-decoration:none;
	color:#bfe1f1;
	list-style-type: none;
	}
.subpage body {
	background-color: black
}
ul{
	padding: 5,5,5,5;
	list-style-type: none;
	padding: 0px 10px;
}

.subpage ul li a:hover{

	transform:rotate(-5deg); box-shadow:10px 10px 20px #000000; 
}
