/***************************************************

Förstasidan

***************************************************/
	.firstpage {
		background-color: black;
		padding: 20px;
	}
	#container {
		max-width: 816px;
		margin: auto;
	}
	.atsidan {
	}
	.rad1 {
		padding-top: 20px;
	}
	.under:hover {
		width: 198px;
		height: 98px;
		border: 1px solid white;
	}
/***********************************************************

Spelsidor

***********************************************************/
.twitter {
		float: right;
	}
#text {
	width: 800px;
	margin: auto;
	border: 10px dotted red;
	padding: 0px 100px 10px;
	margin-top: 30px;
  background-color: rgba(0,0,0,0.7);
}
header{
	text-align: center;
	}
nav{
	float: left;
}

