
/***************************************************

Förstasidan

***************************************************/
	.firstpage {
		background-color: black;
		padding: 20px;
	}
	#container {
		max-width: 816px;
		margin: auto;
	}
	.atsidan {
	}
	.rad1 {
		padding-top: 20px;
	}
	.under:hover {
		width: 198px;
		height: 98px;
		border: 1px solid white;
	}
/***********************************************************

Spelsidor

***********************************************************/
.twitter {
		position: fixed;
		right: 15px;
	}
#text {
	width: 800px;
	margin: auto;
	border: 3px solid red;
/*	padding: 0px 100px 10px;*/
	margin-top: 30px;
	color: white;	
}
header{
	color: white;
	text-align: center;
}

.subpage nav {
	text-decoration: none;
	float: left;
	background-color: black;
	border: 3px solid yellow;
	border-radius: 5%;
	width: 215;
	padding-right: 10px
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: underline;
	color: blue;
}
body {
	background-color: black
}
ul{
list-style-type: none;
}



/*******************************************************

Historia

********************************************************/